{% extends 'base.html' %}
{% load static %}

{% block main %}


<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="login">
                <div class="row">
                    <img src="{% static 'img\logoth.png' %}" class="img-fluid" alt="logo-th">
                    <h2>Login</h2>
                    <div class="col-md-12">
                        <label for="username">Usuário</label>
                        <input type="text" class="form-control" name="username">
                        <br>
                        <label for="password">Senha</label>
                        <input type="password" class="form-control" name="password">
                    </div>
                </div>
                <!--                    <div class="row">-->
                <!--                    <div class="col-md-6">-->
                <!--                    <input type="reset" id="reset" value="Reset" class="btn btn-outline-primary btn-form">-->
                <!--                    </div>-->
                <!--                    </div>-->
                <div class="col-md-12">
                    <input type="submit" id="register" value="Entrar" class="btn btn-outline-success btn-form">
                </div>
            </div>
        </div>

    </form>
</div>
{% endblock %}