{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block main %}

    <h4 class="h4 mb-4 text-gray-800">Grupos</h4>

    <!-- Modal -->
    <div class="modal fade" id="Modal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="ModalLabel">Filtre sua pesquisa</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form method="get">
                        {{ myFilter.form|crispy }}
                        <button class="btn btn-primary" type="submit">Filtrar</button>
                        <a href="{% url 'list_grupo' %}" style="font-size: x-small">Limpar Filtros</a>
                    </form>
                </div>
            </div>
        </div>
    </div>

     <table class="table table-responsive-md">
        <thead class="thead-light">
        <tr>
            <th scope="col">Nome</th>
            <th scope="col">Código</th>
            <th scope="col">Status</th>
            <th scope="col">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-primary btn-sm " data-bs-toggle="modal"
                        data-bs-target="#Modal">
                    Filtros
                </button>
            </th>
        </thead>
        <tbody>
        {% for grupo in grupo %}
            <tr>
                <th scope="row"><a href="{% url 'update_grupo' grupo.id %}">{{ grupo.nome }}</a></th>
                <td>{{ grupo.cod }}</td>
                <td>{% if grupo.ativo == True %}
                    <i class="fas fa-check text-success mr-3"></i>
                    {% else %}
                    <i class="fas fa-times text-danger mr-3"></i>
                {% endif %}
                </td>
                <td>

                    <a href="{% url 'delete_grupo' grupo.id %}"><i class="bi bi-trash"></i></a>
                </td>
            </tr>
            </tbody>
        {% endfor %}

    </table>

    <a href="{% url 'new_grupo' %}">
        <button class="btn btn-primary">Novo Grupo</button>
    </a>

{% endblock %}


