#sidebar-custom {
  background-color: #003D68;
  background-size: cover;
}

#navbar-custom {
  background-color: #003D68
}

#logo-th-2 {
  max-height: 60px;
}

.my-card:hover{
    transform: scale(1.1);
    transition: 0.2s ease-in-out;
}

#container-central {
    padding: 2%;
}